.kapex {
    color: white;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 915px){
    .corset {
        box-shadow: 3px 3px 5px 3px rgba(186, 186, 186, 1)  !important;
        margin-left: 10.5% !important;
        max-width: 300px !important;
    }
    .my-product {
        margin-right: 20px !important;
    }
}