body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.kapex {
    margin-top: 250px !important;
    font-size: 3.5rem !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.form {
    margin-top: 125px !important;
}

.cont {
    background-color: white;
    border-radius: 20px !important;
}

@media (max-width: 767px){
    .cont {
        max-width: 350px !important;
    }
}